n8n/workflows/healthz-monitor.template.json
{
  "name": "ECOCO Healthz Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-every-5-minutes",
      "name": "Every 5 minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "url": "={{$env.ECOCO_BASE_URL || 'https://ecoco-customer-servic.onrender.com'}}/healthz",
        "responseFormat": "json",
        "options": {
          "timeout": 15000
        }
      },
      "id": "get-healthz",
      "name": "GET /healthz",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 0]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.status}}",
              "operation": "notEqual",
              "value2": "ok"
            }
          ]
        }
      },
      "id": "health-not-ok",
      "name": "Health not OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [520, 0]
    },
    {
      "parameters": {
        "fromEmail": "={{$env.MAINTAINER_EMAIL}}",
        "toEmail": "={{$env.MAINTAINER_EMAIL}}",
        "subject": "ECOCO AI 客服健康檢查異常",
        "text": "=ECOCO AI 客服 /healthz 回傳異常，請檢查 Render logs 與 PostgreSQL 連線。\\n\\n回傳內容：\\n{{JSON.stringify($json, null, 2)}}"
      },
      "id": "send-health-alert",
      "name": "Send alert email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [780, -100]
    }
  ],
  "connections": {
    "Every 5 minutes": {
      "main": [
        [
          {
            "node": "GET /healthz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /healthz": {
      "main": [
        [
          {
            "node": "Health not OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health not OK?": {
      "main": [
        [
          {
            "node": "Send alert email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
