n8n/workflows/weekly-knowledge-backup.template.json
{
  "name": "ECOCO Weekly Knowledge Backup",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [1],
              "triggerAtHour": 9,
              "triggerAtMinute": 10
            }
          ]
        }
      },
      "id": "schedule-weekly-backup",
      "name": "Every Monday 09:10",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "url": "={{$env.ECOCO_BASE_URL || 'https://ecoco-customer-servic.onrender.com'}}/api/knowledge/export",
        "responseFormat": "json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-admin-key",
              "value": "={{$env.ECOCO_ADMIN_KEY}}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "export-knowledge-json",
      "name": "Export knowledge JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 0]
    },
    {
      "parameters": {
        "jsCode": "const sections = Array.isArray($json.sections) ? $json.sections : [];\nconst date = new Date().toISOString().slice(0, 10);\nreturn [{ json: {\n  date,\n  sectionCount: sections.length,\n  fileName: `ecoco-knowledge-${date}.json`,\n  summary: `ECOCO 知識庫已匯出，分類數：${sections.length}`,\n  exportJson: JSON.stringify($json, null, 2)\n}}];"
      },
      "id": "build-backup-summary",
      "name": "Build backup summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 0]
    },
    {
      "parameters": {
        "fromEmail": "={{$env.MAINTAINER_EMAIL}}",
        "toEmail": "={{$env.MAINTAINER_EMAIL}}",
        "subject": "=ECOCO 知識庫每週備份 {{$json.date}}",
        "text": "={{$json.summary}}\\n\\n提醒：完整 JSON 請保存到公司核准的 private repo 或內部雲端，不要放 public repo。"
      },
      "id": "send-backup-email",
      "name": "Send backup email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [780, 0]
    }
  ],
  "connections": {
    "Every Monday 09:10": {
      "main": [
        [
          {
            "node": "Export knowledge JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export knowledge JSON": {
      "main": [
        [
          {
            "node": "Build backup summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build backup summary": {
      "main": [
        [
          {
            "node": "Send backup email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
